@import 'variables';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  border-bottom: 3px solid;
  border-image-slice: 1;
}

header h3 a {
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

nav a {
  font-size: 1rem;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 16px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 14px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: 4px;
  top: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  // background-color: #4CAF50;
  background-color: #4080cf;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

// Detect mobile devices
@media (max-width: 600px) {
  header {
    padding: 0 1rem;
    justify-content: space-between;
  }

  nav {
    gap: 0.8rem;
    margin-right: 0.8rem;
  }

  nav h3 {
    width: min-content;
  }

  .toggle-text {
    display: none;
  }
}

// Light and dark themes
header {
  border-image-source: $gradient-light;
}

body.dark-mode header {
  border-image-source: $gradient-dark;
}

.toggle-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  color: white;
}