@import "variables";
@import "header";
@import "footer";
@import "projects-grid";
@import "project-page";

body {
  font-family: Segoe UI, sans-serif;
  font-size: 20px;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

.content {
  padding: 25px;
}

h1 {
  margin: 0px;
}

img {
  pointer-events: none
}

ul {
  list-style: none;
}

ul li::before {
  content: "> ";
  font-weight: bolder;
  font-size: 1.2em;
  margin-right: 8px;
}

li {
  padding: 3px;
}


// Set colours for the light and dark mode colour themes

body {
  background-color: $header-colour-light;
  color: $text-colour-light;
}

body.dark-mode {
  background-color: $header-colour-dark;
  color: $text-colour-dark;
}

.content {
  background-color: $bg-colour-light;
}

body.dark-mode .content {
  background-color: $bg-colour-dark;
}

a {
  color: #333333;
}

a:hover {
  color: #000000;
}

body.dark-mode a {
  color: #cccccc;
}

body.dark-mode a:hover {
  color: #ffffff;
}

span {
  color: #000000;
}

body.dark-mode span {
  color: #ffffff;
}

ul li::before {
  color: rgb(0, 0, 0);
}

body.dark-mode ul li::before {
  color: rgb(46, 241, 124);
}