<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>

    <header>
      <nav>
        <h3><a href="/">G.Stuart Projects</a></h3>
        <a href="/">Home</a>
        <a href="/">Projects</a>
        <a href="/about">About</a>
      </nav>

      <div class="toggle-container">
        <span class="toggle-text">Dark Mode</span>
        <label class="toggle">
          <input type="checkbox" id="mode-toggle">
          <span class="slider"></span>
        </label>
      </div>

    </header>

    <div class="content">
      {{ content }}
    </div>

    <footer>
      <div class="footer-content">
        <p>2025 G.Stuart &nbsp;&nbsp; | &nbsp;&nbsp; See my social links below</p>
        <div class="social-links">
          <a href="https://github.com/GWStuart" target="_blank">
            <img src="/assets/icons/github.svg" alt="GitHub" class="social-icon">
          </a>
          <a href="mailto:g.w.stuart05@gmail.com" target="_blank">
            <img src="/assets/icons/email.svg" alt="Email" class="social-icon">
          </a>
          <a href="https://linkedin.com/in/yourusername" target="_blank">
            <img src="/assets/icons/linkedin.svg" alt="LinkedIn" class="social-icon">
          </a>
          <a href="https://www.youtube.com/@georgestuartprojects6557" target="_blank">
            <img src="/assets/icons/youtube.svg" alt="YouTube" class="social-icon">
          </a>
        </div>
      </div>
    </footer>

    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>

  </body>
</html>
